@charset "utf-8";
/* This should be a normal css style sheet */
/* Changing the box type */
html {
    box-sizing: border-box;
}
    *, *:before, *:after {
    box-sizing: inherit;
}

/* Add styling for html for the document */
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: rgb(211, 230, 246);
    line-height: 1.4;
    margin-top: 0;
    scroll-behavior: smooth;
}
/* wanted to see if this would work */
.product-template-default header {
    position: relative;
}

/* .home {
    border: 2px solid black;
    padding: 1rem;
    margin: 5px;
    background-color: steelblue;
} */
/* .home-row {
    border: 2px solid black;
    padding: 1rem;
    margin: 5px;
    background-color: skyblue;
} */
/* .the-future-container {
    border: 2px solid black;
    padding: 1rem;
    margin: 5px;
    background-color: skyblue;
} */

/* .home-row-two {
    border: 2px solid black;
    padding: 1rem;
    margin: 5px;
    background-color: skyblue;
} */
/* h1 {
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    color: black;
    background-color: rgb(145, 111, 246);
} */
 /* Targeting my anchor elements to take away their list styling etc.*/
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    padding: 5px;
    width: 100%;
}
/* header > div {
        
    text-align: center;
    color: black;
    border: 2px solid black;
    padding: 1rem;
    margin: 5px;
    background-color: skyblue;   
} */

/* header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
} */
/* #menu-item-324, #menu-item-327, #menu-item-325, #menu-item-326, #menu-item-328 {
    list-style: none;
	padding: 0;
	margin: 0;
    display: inline;
} */

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    left: 50%; 
}
/*add some pretty styling like the box-shadow*/
header nav ul li {
    float: left;
    position: relative;
    right: 50%;
    margin-left: 0.25em;
    background:#f8c717;
    box-shadow: 8px 2px 2px #309be3;
    border-radius: 3px;  
}
header nav a {
    display: block;
    padding: 0.75em;
    color: #000000;
    text-decoration: none;
}
header > div > a {
    width: 100%;
    text-align: center;
    display: block;
}
/* slight position shift*/
.shop-masthead {
    position: relative;
    margin-top: 3rem;
}
/*this massive selector to change the colour of the product buttons*/
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button, :where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce #respond input#submit, :where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button, :where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button, :where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;    
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #000000;
    background-color: #309be3;
    box-shadow: 8px 2px 2px #f8c717;     
}
.shop-masthead{
    text-decoration: underline #7f54b3;
}
#menu-main2.menu {
    position: relative;
    top: 0px;
    border-radius: 3px;
    /* margin-top: 3rem; */
}
/* Trying to catch the aria-current to style*/
[aria-current]:not([aria-current="false"]) {
    font-weight: bold;
    background-color: #7f54b3;
    border-radius: 3px;  
}